<% content_for :heading do %>
  Table: <%= @table.name %>
<% end %>

<div class="sm:flex sm:items-center">
  <%# TODO: Add Export button here %>
</div>
<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <table class="relative min-w-full divide-y divide-gray-300 dark:divide-white/15">
        <thead>
          <tr>
            <% @table.header.each do |column| %>
              <th scope="col" class="px-2 py-3.5 text-left text-sm font-semibold whitespace-nowrap text-gray-900 dark:text-white">
                <%= sanitize column%>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white dark:divide-white/10 dark:bg-gray-900">
          <%# Left intentionally blank for now %>
        </tbody>
      </table>
    </div>
  </div>
</div>
